<div id="{{ id }}" style="display: inline-block; padding: 0 16px;">
  <h2>{{ category }}</h2>
  <p style="inline; margin: 16px 0">
    <p style="display: inline-block; width: 60px; text-align: right">Bitrate: </p>
    <input class="bitrate-field"
      style="max-width: 60px"
      value="{{ bitrate }}">
  </p>
  <p style="inline; margin: 16px 0">
    <p style="display: inline-block; width: 60px; text-align: right">Width:</p>
    <input class="width-field"
      style="max-width: 60px"
      value="{{ width }}">
  </p>
  <p style="margin: 16px 0">
    <p style="display: inline-block; width: 60px; text-align: right">Height:</p>
    <input class="height-field"
      style="max-width: 60px"
      value="{{ height }}">
  </p>
</div>
