<div id="{{ id }}" class="transcoder-form">
  <h2>{{ category }}</h2>
  <p class="settings-field settings-collapsable">
    <label for="bitrate-field" class="settings-label">Bitrate:</label>
    <input class="bitrate-field"
      name="bitrate-field"
      value="{{ bitrate }}">
  </p>
  <p class="settings-field settings-collapsable">
    <label for="width-field" class="settings-label">Width:</label>
    <input class="width-field"
      value="{{ width }}">
  </p>
  <p class="settings-field settings-collapsable">
    <label for="height-field" class="settings-label">Height:</label>
    <input class="height-field"
      name="height-field"
      value="{{ height }}">
  </p>
</div>
